/* Variables */
$color-fondo: #0F0F0F;
$color-principal: #4C9F70;
$color-secundario: #A18262;
$color-gris: #2D2E2E;
$color-blanco: #FBFBFB;

/* Globales */
span{
    color: $color-principal;
}

/* Section Port */
.section-port {
    background-color: $color-fondo;
    height: 100vh;
    text-align: center;
    color: $color-blanco;

    h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 80px;
        padding-top: 100px;
    }

    p {
        font-size: 40px;
    }
}

/* NavBar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-gris;
    color: $color-blanco;
    padding: 10px 20px; 
    font-weight: 600;

    .navbar-logo {
        font-size: 1.5rem;
        text-decoration: none;

        span {
            color: $color-principal;
        }

        a {
            text-decoration: none;
            color: $color-blanco;
            margin-right: 20px;
        }
    }

    .navbar-links {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        color: $color-blanco;
        
        a {
            margin-right: 20px;
            text-decoration: none;
            color: $color-blanco;
        }
    }
}